.volumeSlider{
    appearance: none;
    -webkit-appearance: none;
    background: $gray;
    outline: none;
    width: 100px;
    border-radius: 25px;
    height: 5px;
    border: 0px solid $gray;
}

.dot{
    width: 12px;
    height: 12px;

    &:hover{
        filter: contrast(0.75) opacity(0.75);
    }
}