@font-face{
    font-family: "GoogleSans";
    src: url("../assets/fonts/GoogleSans-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "GoogleSansBold";
    src: url("../assets/fonts/GoogleSans-Bold.ttf") format("truetype");
}

.text-small{
    font-size: 13px !important;
    font-family: "GoogleSansBold";
}

.text-shadow{
    text-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}

.text-shadow-lg{
    text-shadow: 0 1rem 3rem rgba(0,0,0,0.5) !important;
}