input[type="text"]{
    font-family: "GoogleSansBold";
    border: none;
    border-bottom: 1px solid $gray;
    outline: none;
    font-size: 18px;
    transition: 0.5s all ease-in-out;

    &::placeholder{
        color: $gray;
    }

    &:hover, &:focus{
        outline: none;
        border-bottom: 1px solid $blue;
    }
}

input[type="range"]{
    transform: rotate(270deg);

    &::-webkit-slider-thumb{
        appearance: none;
        -webkit-appearance: none;
        position: relative;
        width: 20px;
        height: 20px;
        background: $white;
        border-top: 0.2px solid rgba(0,0,0,.08);
        box-shadow: 0 7px 14px rgba(0,0,0,.12), 0 3px 6px rgba(0,0,0,.08);
        border-radius: 50px;
        // left: -5px;
        z-index: 99;
    }
}