ul{
    list-style: none;
    font-family: "GoogleSansBold";
    background: $white;
    padding: 0px;
    border-radius: 10px;
    font-size: 12px;
    max-height: 150px;
    overflow-y: scroll;
    cursor: pointer;

    li{
        width: 175px;
        padding: 10px;
        
        &:hover{
            background: $gray;
        }
    }

    &::-webkit-scrollbar{
        display: none;
    }
}