ul{
    list-style: none;
    font-family: "GoogleSansBold";
    background: $white;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    max-height: 100px;
    overflow-y: scroll;

    li{
        width: 150px;
        padding: 5px;
    }
}