$sides: (top, bottom, left, right);

@for $i from 6 to 101 {
    .m-#{$i}{
        margin: #{$i}rem !important;
    }
    .p-#{$i}{
        padding: #{$i}rem !important;
    }
    .my-#{$i}{
        margin-top: #{$i}rem !important;
        margin-bottom: #{$i}rem !important;
    }
    .mx-#{$i}{
        margin-right: #{$i}rem !important;
        margin-left: #{$i}rem !important;
    }
    .py-#{$i}{
        padding-top: #{$i}rem !important;
        padding-bottom: #{$i}rem !important;
    }
    .px-#{$i}{
        padding-right: #{$i}rem !important;
        padding-left: #{$i}rem !important;
    }
    .h-#{$i}vh{
        height: #{$i}vh !important;
    }
    .w-#{$i}vh{
        width: #{$i}vw !important;
    }
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$i} {
            margin-#{$side}: #{$i}rem !important;
        }
    
        .p#{str-slice($side, 0, 1)}-#{$i} {
            padding-#{$side}: #{$i}rem !important;
        }
    }
}

@for $i from 1 to 101 {
    $val: ($i * 5);
    .w-#{$val}px{
        width: #{$val}px !important;
    }
    .h-#{$val}px{
        height: #{$val}px !important;
    }
}

@for $i from 1 to 5 {
    $val: $i * 25;
    $value: ($val/100);
    .o-#{$val}{
        opacity: #{$value};
    }
}

@for $i from 0 to 11 {
    .b-#{$i}{
        bottom: #{$i}rem !important;
    }
    .r-#{$i}{
        right: #{$i}rem !important;
    }
    .t-#{$i}{
        top: #{$i}rem !important;
    }
    .l-#{$i}{
        left: #{$i}rem !important;
    }
}

.br-3{
    bottom: 3rem !important;
    right: 3rem !important;
}

$colors: ('white': $white, 'gray': $gray, 'black': $black, 'red': $red, 'yellow': $yellow, 'blue': $blue);

@each $color, $map in $colors {
    .bg-#{$color}{
        background: $map !important;
    }
    .text-#{$color}{
        color: $map !important;
    }
}