<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cadberry</title>
    <link rel="stylesheet" href="../styles/vendor.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>

    <div id="bg" class="h-100vh">
        <div class="position-fixed br-3 text-right z-front">
            <i id="power" class="fas fa-power-off text-shadow text-white o-75 pr-2 text-shadow"></i>
            <i id="wifi" class="fas fa-wifi text-shadow text-white o-75 pr-2 text-shadow"></i>
            <i id="volume" class="fas fa-volume-up text-white o-75 pr-2 text-shadow"></i>
            <h1 id="time" class="text-white text-shadow o-75">10:26</h1>
        </div>
    </div>

    <div id="screen" class="position-absolute t-0 w-100vh h-100vh">
        
    </div>

    <!-- Volume -->
    <div class="position-fixed b-3 r-1" id="volumeMenu" style="display: none;">
        <input class="position-relative b-8 volumeSlider" type="range" min="0" max="100" value="100">
    </div>

    <!-- WIFI -->
    <div class="position-fixed shadow b-9 r-1" id="wifiMenu" style="display: none;">
        <ul id="networks" class="mb-0">
        </ul>
    </div>

    <div class="position-fixed shadow b-9 r-1" id="powerMenu" style="display: none;">
        <ul class="mb-0">
            <li>Sleep</li>
            <li onclick="reboot()">Restart</li>
            <li onclick="shutdown()">PowerOff</li>
        </ul>
    </div>

    <div id="contextMenu" class="contextmenu shadow position-absolute w-150px d-none z-up">
        <ul class="mb-0">
            <li id="wallpaper"><i class="far fa-image pr-2"></i>Change Wallpaper</li>
            <li id="files"><i class="far fa-folder pr-2"></i>Files</li>
            <li id="settings"><i class="far fa-sun pr-2"></i>Settings</li>
        </ul>
    </div>

    <div class="b-gray">
        <div class="d-flex flex-column align-items-center justify-content-center h-100vh">
            <div class="text-left w-75">
                <h2 class="text-small">Sunday, September 23</h2>
            </div>
            <div class="w-75">
                <input type="text" class="py-3 w-100" placeholder="Lightning Search - What are you looking for?">
            </div>
        </div>
    </div>

    <script>
        window.jQuery = window.$ = require('jquery');
        var wifi = require('node-wifi');
        const shutdownCmd = require('electron-shutdown-command');
        var wifiNames = [];
        var i = 0;

        $('body').contextmenu( (event) => {
            closeAll();
            var x = event.pageX;
            var y = event.pageY;
            $("#contextMenu").css("left", x);
            $("#contextMenu").css("top", y);
            $("#contextMenu").removeClass('d-none');
        });

        $('body').click( (e) => {
            var hasClass = $("#contextMenu").hasClass('d-none');
            if( !hasClass ){
                $("#contextMenu").addClass('d-none');
            }
        });
        
        $(document).ready(() => {

            setInterval(()=>{
                formatAMPM(new Date());
            },200);

            $.getJSON("../config/config.json", (data) => {
                if (data.background !== "") {
                    $("#bg").css("background", "url(" + data.background + ")");
                    $("#bg").css("background-size", "cover");
                }
            });

            $("#wallpaper").click( () => {
                $("#screen").append('<div id="window' + i + '" class="position-absolute shadow-lg bg-white w-350px h-250px rounded"><div id="titlebar '+ i +'" class="h-30px m-0 rounded-top"><div class="my-auto h-100 float-right d-inline-flex p-0 py-2 pr-2"><span class="dot mr-2 rounded-circle bg-red"></span><span class="dot mr-2 rounded-circle bg-yellow"></span><span id="close" class="dot rounded-circle bg-red"></span></div></div><div id="body"><p>Change Wallpaper</p></div></div>');
                closeAll();
                i++;
                $('[id^="window"]').draggable({ 
                    containment: "#screen",
                    scroll: false
                });
                $('[id^="close"]').on('click', (e)=> {
                    var id = "#" + e.target.parentNode.parentNode.parentNode.id;
                    $(id).remove();
                });

                $('[id^="titlebar"]').on('click mousedown', (e) => {
                    $('[id^="window"]').removeClass('z-front');
                    $("#" + e.target.parentNode.id).addClass('z-front');
                });

                $('[id^="window"]').on('click mousedown', (e) => {
                    $('[id^="window"]').removeClass('z-front');
                    if(e.target.id !== "") {
                        var windowId = "#" + e.target.id;
                        $(windowId).addClass('z-front');
                    }
                    closeAll();
                });
            });

            var ssid;

            wifi.init({
                iface: null
            });

            wifi.getCurrentConnections( (err, network) => {
                if(network !== undefined && network.length > 0){
                    ssid = network[0];
                } else {
                    $("#wifi").removeClass("fa-wifi");
                    $("#wifi").addClass("fa-wifi-slash");   
                }
            });

            wifi.scan().then( (networks) => {
                $("#networks").empty();
                networks.forEach( (network) => {
                    if(wifiNames.indexOf(network.ssid) === -1){
                        if(ssid.ssid === network.ssid){
                            $("#networks").append("<li class='bg-blue  text-white'>" + network.ssid + "</li>");
                        } else {
                            $("#networks").append("<li>" + network.ssid + "</li>");
                        }
                        wifiNames.push(network.ssid);
                    }
                });
            }).catch( (err) => {
                console.log("Error", err);
            });
        });

        $("#screen").click( (e) => {
            closeAll();
        });

        function shutdown(){
            shutdownCmd.shutdown({
                force: true,
                timerseconds: 20,
                sudo: true,
                debug: true,
                quitapp: true
            })
        }

        function reboot(){
            shutdownCmd.reboot({
                force: true,
                timerseconds: 20,
                sudo: true,
                debug: true,
                quitapp: true
            });
        }

        function formatAMPM(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12;
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            $("#time").text(strTime);
        }
        
        function closeAll(){
            var style = $("#volumeMenu").attr('style');
            var style1 = $("#wifiMenu").attr('style');
            var style2 = $("#powerMenu").attr('style');
            if(style === "" || style1 === "" || style2 === ""){
                $("#volumeMenu").attr("style", "display: none;");
                $("#wifiMenu").attr("style", "display: none;");
                $("#powerMenu").attr('style', "display: none;");
            }
        }

        $("#volume").click( ()=> {
            closeAll();
            $("#volumeMenu").fadeToggle();
        });
        $("#wifi").click( ()=> {
            closeAll();
            $("#wifiMenu").fadeToggle();
        });
        $("#power").click( () => {
            closeAll();
            $("#powerMenu").fadeToggle();
        });
    </script>
    <script src="../scripts/vendor.js"></script>
</body>

</html>