<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cadberry</title>
    <link rel="stylesheet" href="../styles/vendor.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>

    <div id="bg" class="h-100vh">

        <div class="position-fixed br-3 text-right">
            <i class="fas fa-bell text-shadow text-white o-75 pr-2"></i>
            <i class="fas fa-wifi text-shadow text-white o-75 pr-2"></i>
            <i class="fas fa-volume-up text-white o-75 pr-2"></i>
            <h1 class="text-white text-shadow o-75">10:26</h1>
        </div>

    </div>

    <div class="b-white">
        <div class="d-flex flex-column align-items-center justify-content-center h-100vh">
            <div class="text-left w-75">
                <h2 class="text-small">Sunday, September 23</h2>
            </div>
            <div class="w-75">
                <input type="text" class="py-3 w-100" placeholder="Lightning Search">
            </div>
        </div>
    </div>

    <script>
        window.jQuery = window.$ = require('jquery');
        
        $(document).ready(() => {
            $.getJSON("../config/config.json", (data) => {
                if (data.background !== "") {
                    $("#bg").css("background", "url(" + data.background + ")");
                    $("#bg").css("background-size", "cover");
                }
            });
        });
    </script>
    <script src="../scripts/vendor.js"></script>
</body>

</html>